
<app-main-nav></app-main-nav>
<div class="container">
    <div class="row g-3 mt-6">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
            <h1></h1>
            <h1 class="text-center">User login</h1>
            <div class="container">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <label for="" class="form-label">Username:</label>
                        <input name="email" [(ngModel)]="email" type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        
                        <label for="" class="form-label">password:</label>
                        <input name="psw" [(ngModel)]="psw" type="password" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button (click)="readValues()" class="btn btn-success" href="/uv">Login</button>
                    </div>

                   

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a href="/ur">User Registration</a>
                    </div>
                    
                    
                </div>
            
        </div>
        </div>
    </div>
</div>

