<app-user-nav></app-user-nav>
<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

           

                        <div class="card" >

                            <div class="card-header">

                                User Name: {{data[0].name}}

                            </div>

                            <ul class="list-group list-group-flush">

                              <li class="list-group-item">Address: {{data[0].address}} </li>

                              <li class="list-group-item">Mail: {{data[0].mail}} </li>

                              <li class="list-group-item">Phone: {{data[0].phone}} </li>

                            </ul>

                          </div>

                        </div>

    </div>

</div>



    
   

